In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
# read CSV

game_data = pd.read_csv("/Users/admin/Desktop/UW MSTI/Quarter 1/Tech Foundations/week8hw/database.csv")
game_data = game_data.drop('Unnamed: 0', axis=1)

In [30]:
game_data

   Player 1 Player 2 winner
0         X        O      O
1         X        O      X
2         X        O      O
3         X        O      O
4         X        O      X
..      ...      ...    ...
77        X        O      O
78        X        O      O
79        X        O      O
80        X        O   Draw
81        X        O      X

[82 rows x 3 columns]

In [31]:
print("Total historic games = ", len(game_data))
total_games = len(game_data)
O_wins = len(game_data.loc[game_data['winner'] == 'O'])
X_wins = len(game_data.loc[game_data['winner'] == 'X'])
draws = len(game_data.loc[game_data['winner'] == 'Draw'])
print("Total wins of player O = ", O_wins, " -> ", (O_wins/total_games)*100 ,"%")
print("Total wins of player X = ", X_wins, " -> ", (X_wins/total_games)*100 ,"%")
print("Total number of draws = ", draws, " -> ", (draws/total_games)*100 ,"%")

Total historic games =  82
Total wins of player O =  40  ->  48.78048780487805 %
Total wins of player X =  41  ->  50.0 %
Total number of draws =  1  ->  1.2195121951219512 %

# Plots

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

x = np.linspace(0.0,100,50)
y = np.random.uniform(low=0,high=10,size=50)

plt.plot(x,y)

# rotating labels on the xaxis
plt.xticks(rotation=60)
# y axis
plt.yticks(rotation=60)